.i-s{
	width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.i-b{
  width: 32px;
  height: 32px;
}

.abs-center{
  display: grid;
  place-items: center;
}
.icon-item{
  display: flex;
  align-items: center;
  svg{margin-right: 1rem;}
  // a{font-size: $fz-mid;}
}
.marquee{
	display: inline-flex;
	align-items: center;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
.icon-link{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
	font-weight: $bold;
  span{
    font-size: $fz-sm;
  }
  svg{
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
  }
  &.left{
    svg{
      margin: 0;
      margin-right: .5rem;
    }
  }
  &:hover,&:focus{
		text-decoration: underline;
		text-decoration-color: $c3;
		svg{color: $c3;}
  }
}
.center{
  text-align: center !important;
}
.right-align{
  text-align: right !important;
}
.divider{
  height: 1px;
  margin: 1rem 0;
  background-color: $cl-2;
}

input[readonly]{
  box-shadow: none !important;
  border-color: #ccc !important;
}
.form-msg{
  font-size: .95rem;
  text-align: center;
  margin: 1rem 0 .5rem;
  font-weight: $mid;
  display: flex;
  justify-content: center;
  align-items: center;

  svg{
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    line-height: .85rem;
  }

  &.success{
    color: #46aa2b;
  }
}

.full-w{display: block;width: 100% !important;}

.cometa-scroll{
  overflow-y: auto;
  &.scroll-x{
    overflow: auto hidden;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
	}
	&::-webkit-scrollbar-track {
		background: transparent; 
	}
	&::-webkit-scrollbar-thumb {
		background: $cl-1;
		border-radius: 8px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: $c4;
	}
}