.i-s{
	width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.i-b{
  width: 32px;
  height: 32px;
}

.abs-center{
  display: grid;
  place-items: center;
}
.icon-item{
  display: flex;
  align-items: center;
  svg{margin-right: 1rem;}
  // a{font-size: $fz-mid;}
}
.marquee{
	display: inline-flex;
	align-items: center;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
.icon-link{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
	font-weight: $bold;
  span{
    font-size: $fz-sm;
  }
  svg{
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
  }
  &.left{
    svg{
      margin: 0;
      margin-right: .5rem;
    }
  }
  &:hover,&:focus{
		text-decoration: underline;
		text-decoration-color: $c3;
		svg{color: $c3;}
  }
}
.center{
  text-align: center !important;
}
.right-align{
  text-align: right !important;
}
.divider{
  height: 1px;
  margin: 1rem 0;
  background-color: $cl-2;
}