.education-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.button{
		margin: 0 1rem;
	}
}
.education-intro{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 6rem;
	justify-items: center;
	justify-content: center;
	align-items: stretch;
	grid-gap: 1rem;

	@include respond(phone){
	grid-template-columns: 1fr;
	}

	& .poster{
		grid-row: 1/3;
	}

	figure{
		width: 100%;
		max-width: 25rem;
		img{
			display: block;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.education-cta{
	padding: 1rem 3.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 8px;
}
.edu-table{
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	thead tr th{
		padding: .5rem 0 1rem;
		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
		span{
			text-transform: uppercase;
			font-weight: 400;
			color: $cd-3;
		}
		h3{
			text-transform: uppercase;
			font-size: 1.5rem;
		}
	}
	tbody tr{
		td{
			width: 50%;
			&:first-child {
				border-right: 2px solid $c3;
				h4,ul{
					text-align: left;
				}
			}
			&:last-child {
				h4,ul{
					text-align: right;
				}
			}
			h4{
				color: $cd-3;
			}
			ul{
				ul{
					padding: 0;
					li{
						color: $cd-2;
						font-weight: 400;
					}
				}
			}
			& > ul > li {
				color: $cd;
				font-weight: 600;
			}
		}
	}
}
.edu-syllabus-fig{
	max-width: 55rem;
	width: 100%;
	margin: 0 auto;
	img{
		width: 100%;
		object-fit: contain;
	}
}
//

.form_container{
	padding: 2rem;
	border: 2px solid $cl-2;
	border-radius: 8px;
	background-color: #fff;

	max-width: 25rem;
	margin: 0 auto;

	form {
		label{
			display: block;
			margin-bottom: .5rem;
			font-size: .95rem;
		}
		input,select{
			outline: none;
			display: block;
			width: 100%;
			padding: .5rem .75rem;
			border: 2px solid $cl-2;
			font-family: inherit;
			font-size: .85rem;
			border-radius: 4px;
			&:focus{
				border-color: $cl-1;
			}
		}
	}
}
.input_field{
	&:not(:last-child){
		margin-bottom: 1rem;
	}
}