.hero{
	// min-height: 40vh;
	&.hero-edu{
		background-color: #ccc;
		border-bottom: 1px solid #ccc;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-intro{
		h1{
			font-size: 2.5rem;
			font-family: $font-2;
			letter-spacing: 1px;
			font-weight: $default;
			line-height: 1;
			color:#fff;
			span{
				display: block;
				font-size: $fz-lg;
				color: $cd;
			}
		}
	}
}

.education-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.button{
		margin: 0 1rem;
	}
}
.education-intro{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	justify-items: center;
	justify-content: center;
	align-items: stretch;
	grid-gap: 1rem;

	& .poster{
		grid-row: 1/3;
	}

	@include respond(tab){
		grid-template-columns: 1fr;
		& .poster{
			grid-row: auto;
		}
		& .cometa-iframe{
			grid-row: 1/2;
		}
	}

	figure{
		width: 100%;
		max-width: 25rem;
		img{
			display: block;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.education-cta{
	padding: 1rem 3.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 8px;
}
.edu-table{
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	thead tr th{
		padding: .5rem 0 1rem;
		&:first-child{
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
		span{
			text-transform: uppercase;
			font-weight: 400;
			color: $cd-3;
		}
		h3{
			text-transform: uppercase;
			font-size: 1.5rem;
		}
	}
	tbody tr{
		td{
			width: 50%;
			&:first-child {
				border-right: 2px solid $c3;
				h4,ul{
					text-align: left;
				}
			}
			&:last-child {
				h4,ul{
					text-align: right;
				}
			}
			h4{
				color: $cd-3;
			}
			ul{
				ul{
					padding: 0;
					li{
						color: $cd-2;
						font-weight: 400;
					}
				}
			}
			& > ul > li {
				color: $cd;
				font-weight: 600;
			}
		}
	}
}
.edu-syllabus-fig{
	max-width: 55rem;
	width: 100%;
	margin: 0 auto;
	img{
		width: 100%;
		object-fit: contain;
	}
}
//

.form_container{
	padding: 2rem;
	border: 2px solid $cl-2;
	border-radius: 8px;
	background-color: #fff;

	max-width: 25rem;
	margin: 0 auto;

	form {
		label{
			display: block;
			margin-bottom: .5rem;
			font-size: .95rem;
			font-weight: $mid;
		}
		input,select, textarea{
			resize: none;
			outline: none;
			display: block;
			width: 100%;
			padding: .5rem .75rem;
			border: 2px solid $cl-2;
			font-family: inherit;
			font-size: .85rem;
			border-radius: 4px;
			&:focus{
				border-color: $cl-1;
			}
		}
	}

	&--home{
		max-width: 32rem !important;
		width: 32rem;
		margin: 1rem auto !important;

		@include respond(tab){
			max-width: 100%;
			width: 100%;
		}
	}
}
.input_field{
	&:not(:last-child){
		margin-bottom: 1rem;
	}
}

.modal-bg{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.25);
	outline: none;
	width: 100%;
	height: 100vh;
	z-index: 5;
	display: none;
	&.open{
		display: block;
	}
}
.modal{
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	padding: 3rem;
	background-color: #fff;
	border-radius: 8px;
	min-width: 20rem;
	display: none;
	&.open{
		display: block;
	}
}

.message{
	padding: 2rem;
	text-align: center;
	border: 1px solid transparent;
	svg{
		width: 3rem;
		height: 3rem;
	}
	h1{
		margin: 1rem 0 0;
	}
	&.success{
		// background-color: #00C851;
		// border-color: #007E33;
		color: #007E33;
	}
	&.error{
		// background-color: #ff4444;
		// border-color:#CC0000;
		color:#CC0000;
	}
	&.warn{
		// background-color: #ffbb33;
		// border-color: #FF8800;
		color: #FF8800;
	}
}

.section-pay-status{
	position: relative;
	min-height: 80vh;
	overflow: hidden;
}
.section-pay-design{
	position: absolute;
	top: -5rem;
	right: -5rem;
	width: 10rem;
	height: 10rem;
	transform: rotate(45deg);
	&.success{
		background-color: #007E33;
	}
	&.error{
		background-color: #CC0000;
	}
	&.warn{
		background-color: #FF8800;
	}
}
.cometa-iframe{
	width: 100%;
	height: 23rem;
	
	@include respond(phone){
		height: 15rem;
	}
}
.edu-syllabus{
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 2rem;
	justify-items: center;
	justify-content: center;

	figure {
		display: flex;
		justify-content: center;
		max-height: 80vh;
			
		img {
			object-fit: contain;
		}
	}
	figure.cert{
		max-width: 35rem;
	}
	figure.syllabus{
		max-width: 25rem;
	}

	@include respond(phone){
		grid-template-columns: 1fr;
	}
}

.edu-course{
	&-nav{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 1rem;

		&--link{
			display: inline-block;
			padding: .75rem 1.5rem;
			font-size: 1.15rem;
			font-weight: 700;
			text-align: center;
			background-color: #fff;
			box-shadow: 0 .25rem .5rem rgba(100,100,100,.1);
			border-radius: 4px;
			margin: .5rem 1rem;
			cursor: pointer;
			line-height: 1.3;
			transition: all 300ms;
			position: relative;

			@include respond(tab){
				padding: .65rem 1rem;
				font-size: 1rem;
				margin: .5rem .5rem;
			}

			span{
				display: block;
				font-size: .9rem;
				line-height: 1.3;
				color: $cd-3;
			}

			&:hover{
				background-color: #efefef;
				color: #212121;
			}

			&.active{
				background-color: $c4;
				color: #fff;
				span{
					color: $cl;
				}
				&:after{
					display: inline-block;
				}
			}

			&:after{
				content: "";
				display: none;
				position: absolute;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				border: 10px solid transparent;
				border-top-color: $c4;
			}
		}
	}

	&-card{
		&--container{
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 1.5rem;
			justify-items: center;
			padding: 1rem 1.5rem;
			max-width: calc(1080px + 6rem);
			margin: 0 auto;

			@include respond(tab){
			padding: 1rem .5rem;
			grid-template-columns: repeat(3,360px);
			//@mobile design
			overflow-x: auto;
			}
			@include respond(phone){
			grid-template-columns: repeat(3,minmax(90%,360px));
			}
		}

		max-width: 360px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 .25rem .5rem rgba(100,100,100,.25);
		border-radius: 4px;
		overflow: hidden;
		transition: all 150ms;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 10rem 1fr minmax(5rem,auto) minmax(5rem,auto);
		grid-row-gap: 1rem;

		&__heading{
			background-color: lighten($c4,30%);
			color: #212121;
			font-weight: $mid;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			transition: all 100ms;

			h3{
				font-size: 1.5rem;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-weight: 700;
			}

			& > div{
				margin-top: auto;
				display: flex;
				justify-content: space-between;
				font-size: .85rem;
			}
			& .badge{
				background-color: $c4;
				padding: 4px 8px;
				font-weight: 700;
			}
		}
		&__details{
			padding: 0 1rem;
			margin-bottom: 1rem;

			p{
				margin: .5rem 0;
				color: $cd;
				font-size: .85rem;
				letter-spacing: 1px;
			}

			.base-link{
				display: inline-block;
				color: $c4;
				font-weight: $mid;
				font-size: .85rem;
				letter-spacing: 1px;

				&:hover{
					color: darken($c4,10%);
				}
			}
		}
		&__cta{
			padding: 0 1rem;
			.price{
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				margin: .5rem 0;

				.current{
					font-size: 1.5rem;
					font-weight: 700;
				}
				.save{
					font-size: 1rem;
				}
			}
		}

		&__meta{
			padding: 1rem;
			h4{
				color: $cd-3;
				display: flex;
				align-items: center;
				svg{
					margin-right: .5rem;
					width: 1.2em;
					height: 1.2em;
					stroke: darken($c4,10%);
					fill: $c4;
				}
				span{font-weight: 700;}
			}

			.meta__list{
				display: flex;
				justify-content: center;
				padding-top: 1rem;
			}
		}

		&:hover{
			transform: scale(1.05);
		}
		&:hover &__heading{
			background-color: $c4;
			color: #fff;

			& .badge{
				background-color: #fff;
				color: $c4;
			}
		}
	}
}

.i-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 .3rem;

	figure{
		display: grid;
		place-items: center;
		width: 4rem;
		height: 4rem;
		padding: .8rem;
		background-color: rgba($c3,.15);
		border-radius: 50%;
		svg{
			stroke: $c3;
		}
	}
	p{
		text-align: center;
		font-size: .75rem;
		font-weight: $mid;
		color: $cd-1;
	}
}