button{
	font-family: inherit;
	font-weight: $mid;
}
.button{
	border: 2px solid transparent;
	border-radius: 4px;
	outline: none;
	padding: .5rem .75rem;
	font-size: $fz-sm - .1rem; //padding*2+margin+2
	cursor: pointer;
	text-transform: uppercase;
}
.button-nav{
	color: $cd;
	&:focus{
		box-shadow: 0 0 0 2px $cd-1;
		color: #212121;
	}
}
.button-nav-p{
	border-color: $c4;
	background-color: $c4;
	color: $cd !important;
	box-shadow: 0 1px 2px $cl-1;
	transition: background-color 300ms;
	&:focus{
		box-shadow: 0 0 0 2px darken($c4, 5%);
	}
}
.button-submit{
	border: 2px solid $cd;
	background-color: $cd;
	color: $cl;
	&:focus,&:active{
		// background-color: #212121;
		box-shadow: 0 0 0 2px rgba(0,0,0,.2);
	}
	
	@include respond(phone){
		padding: .25rem .5rem;
	}
}