button{
	font-family: inherit;
	font-weight: $mid;
}
.button{
	border: 2px solid transparent;
	border-radius: 4px;
	outline: none;
	padding: .5rem .75rem;
	font-size: $fz-sm - .1rem; //padding*2+margin+2
	cursor: pointer;
	color: inherit;
	font-weight: $mid;
	// text-transform: uppercase;
}
.button-nav{
	color: $cd;
	&:focus{
		box-shadow: 0 0 0 2px $cd-1;
		color: #212121;
	}
}
.button-nav-p{
	border-color: $c4;
	background-color: $c4;
	color: #fff !important;
	box-shadow: 0 1px 2px $cl-1;
	transition: background-color 300ms;
	&:hover{
		background-color: darken($c4,5%);
	}
	&:focus{
		box-shadow: 0 0 0 2px darken($c4, 10%);
	}
}
.button-trial{
	animation: c 200s linear infinite;
  background: linear-gradient(121.19deg,rgba(133,239,49,0) 25.73%,hsla(0,0%,100%,.3) 45.27%,rgba(133,239,49,0) 62.27%),$c4;
}
.button-submit{
	border: 2px solid $cd;
	background-color: $cd;
	color: $cl;
	&:focus,&:active{
		// background-color: #212121;
		box-shadow: 0 0 0 2px rgba(0,0,0,.2);
	}
	
	@include respond(phone){
		padding: .25rem .5rem;
	}

	&-disabled{
		background-color: #656565;
		color: #ededed;
		user-select: none;
		border-color: #656565;
		cursor: not-allowed;
	}
}
.disabled{
	user-select: none !important;
	pointer-events: none;
	background-color: $cl !important;
	color: $cd-1 !important;
}
.hidden{
	display: none;
}
.disabled{
	background-color: #ccc;
	color: #999;
	user-select: none;
	cursor: not-allowed;
}
.button-hero{
	padding: .75rem 1.5rem;
	font-size: 1.5rem;
	border-left: 3px solid $c4;
	border-top: 3px solid $c4;
	border-right: 3px solid darken($c4,10%);
	border-bottom: 3px solid darken($c4,10%);
	background-image: linear-gradient(to bottom right, $c4, darken($c4,10%));
	color: #fff !important;

	&:focus{
		box-shadow: 0 0 0 2px darken($c4, 10%);
	}
}